.infoContainer {
    padding-top: 5%;
}

.headerContainer {
    height: 8pc;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
}

.hexContainer {
    display: flex;
    justify-content: center;  

}

.hex {
    display: flex;
    justify-content: center;
}